.dashboard-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f5f5f5;
  }
  
  .dashboard-title {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .key-metrics-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .key-metric {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 20%;
    text-align: center;
  }
  
  .key-metric h2 {
    margin-top: 0;
  }
  
  .button-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  
  .dashboard-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .dashboard-button:hover {
    background-color: #0069d9;
  }